.back {
  margin-top: -1;
  position: fixed;
  width: 100%;
  height: 100%;
}

h3 {
  position: relative;
}
.body2 {
  background: url(assets/Untitled.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.body5 {
  background: url(assets/page4.PNG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.body7 {
  background: url(assets/Page2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
